
  @media only screen and (max-width: 900px) {
    .common {
      margin: 10px 15px;
    }
    .first {
      font-size: xx-large;
    }
    .cart i {
      font-size: medium;
      height: 40px;
      width: 40px;
      border-radius: 10px;
    }
    li {
      font-size: small;
    }
  }
  @media only screen and (max-width: 780px) {
    .photo {
      width: 90px;
      height: 90px;
    }
    .first {
      font-size: 30px;
    }
    .cart i {
      font-size: small;
      height: 30px;
      width: 30px;
      border-radius: 10px;
    }
  }
  @media only screen and (max-width: 760px) {
    .common {
      margin: 10px 10px;
      font-size: medium;
    }
    .common i {
      margin-right: 15px;
    }
  }
  
  @media only screen and (max-width: 690px) {
    .first {
      font-size: 25px;
    }
    li {
      font-size: small;
    }
  }
  @media only screen and (max-width: 650px) {
    .common {
      margin: 20px 10px;
      font-size: small;
    }
    .common i {
      margin-right: 10px;
      font-size: x-small;
  }
  .common a{
    font-size: medium;
  }
    .name {
      font-size: medium;
    }
    .photo {
      height: 70px;
      width: 70px;
    }
    
    .cart i {
      margin-top: 15px;
    }
    .first {
      font-size: xx-large;
      align-items: unset;
    }
    .heading {
      width: 65%;
    }
    .header {
      font-size: small;
    }
    .todaysOrder {
      font-size: 35px;
    }
  }
  @media only screen and (max-width: 550px) {
    .name {
      margin-bottom: 30px;
    }
    .photo {
      height: 60px;
      width: 60px;
    }
    .common i {
      margin-right: 10px;
      font-size: x-small;
    }
    .first {
      font-size: x-large;
    }
    .header {
      font-size: small;
    }
  }
  @media only screen and (max-width: 500px) {
    .name {
      margin-bottom: 30px;
    }
    .photo {
      height: 50px;
      width: 50px;
    }
    .common {
      display: flex;
      padding-left: 10%;
    }
    .common i {
      display: none;
    }
    li {
      font-size: 8px;
    }
    .sno {
      margin-right: 5px;
    }
    .header {
      font-size: small;
    }
    .todaysOrder {
      font-size: 35px;
    }
    .username {
      margin-right: 10px;
    }
    .adress {
      margin-right: 10px;
    }
    .amt {
      margin-right: 10px;
    }
    .item .sno {
      margin-right: 5px;
    }
    .item .itemName {
      margin-right: 10px;
    }
    .item .adress {
      margin-right: 10px;
    }
    .item .amt {
      margin-right: 10px;
    }
    .item .completed{
      height: 50%;
    }
  }
  @media only screen and (max-height: 450px) and (orientation:portrait) {
    .photo {
      height: 80px;
      width: 80px;
      margin-bottom: 20px;
    }
    .name {
      margin-bottom: 20px;
    }
    .common {
      margin: 10px 35px;
    }
    .todaysOrder {
      font-size: 15px;
    }
    li {
      font-size: 5px;
    }
    .sno {
      margin-right: 5px;
    }
  }
  @media only screen and (max-width: 400px) {
    .first {
      font-size: large;
      padding: 15px 25px;
    }
    .cart i {
      height: 30px;
      width: 30px;
    }
    li {
      font-size: 9px;
    }
    .sno {
      margin-right: 3px;
    }
    .header {
      font-size: x-small;
    }
    .todaysOrder {
      font-size: 25px;
    }
    .username {
      margin-right: 5px;
    }
    .adress {
      margin-right: 5px;
    }
    .amt {
      margin-right: 5px;
    }
    .item .sno {
      margin-right: 5px;
    }
    .item .itemName {
      margin-right: 6px;
    }
    .item .adress {
      margin-right: 6px;
    }
    .item .amt {
      margin-right: 6px;
    }
    .common a{
      font-size: small;
    }
  }
  @media only screen and (max-width: 350px) {
    .item .img img {
      top: -40px;
      left: 10%;
      height: 60px;
      width: 80px;
    }
    .item {
      padding: 25px 10px 10px 10px;
      height: fit-content;
    }
    .item .itemDetail {
      font-size: x-small;
    }
    .item .itemAmt .amt {
      font-size: medium;
    }
    .item .itemAmt .added {
      height: 20px;
      width: 20px;
      font-size: medium;
    }
  }