<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Help Center </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/faq.css" rel="stylesheet">

    
  </head>
  <body>
    <div class="nav-bar">
        <div class="logo dj a">Food Colony</div>
        <div class="nav-btn ">
            <ul>
                <li><a class="" href="/">Home</a></li>
                <li><a class="" href="/contact">Contact</a></li>
                <li><a class="" href="/login">Login</a></li>
            </ul>
        </div>
        <div class="burger-nav">
            <i class="fas fa-bars"></i>
        </div>
    </div>
    
    <div class="jumbotron">
       <div class="container">
        <div class="featured">
            <div class="row">
                <div class="col-md-9">
                    <h1>Hi, How can we help you?</h1>
                    
                        <a class="btn btn-default btn-lg" href="/contact">Ask a Question</a>
                </div>
            </div>
        </div>
       </div>
    </div>
    <div class="trial">
        <div class="container">
            <button class="card"><img  src="/images/faq/online-banking.png"><br><b>Cashless Transaction</b><p class="para">Pay using google pay/ UPI/ Card. No need to carry cash.</p></button>
            <button class="card"><img src="/images/faq/food-container.png"><br><b>Hygeinic Food preparation</b><p class="para">We sanitise the eating stations every 15 minutes.</p></button>
            <button class="card"><img src="/images/faq/room-service.png"><br><b>Fast and clean service</b><p class="para">You can preorder from ofice cafe and have it on time.</p></button>
            <button class="card"><img src="/images/faq/diet.png"><br><b>Varieties of food</b><p class="para">Pamper your taste buds with everyday's 'Today's Special'.</p></button>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/faq.js"></script>
  </body>