<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
    <link rel="stylesheet" href="./css/homepage.css">
    <link rel="stylesheet" href="./css/homepageQuery.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <ul>
                <li>What we offer</li>
                <li>Contact Us</li>
            </ul>
        </div>
        <div class="wrap">
            <h1>>Have something <br><span></span></h1>
            <h3>Let's get you started !</h3>
            <div class="btns">
                <div class="loginbtn">Login</div>
                <div class="registerbtn">Sign Up</div>
            </div>
        </div>
    </div>

    <script src="./js/homepage.js"></script>
    
</body>